NEXT_PUBLIC_VARA_NETWORK=mainnet
NEXT_PUBLIC_VARA_RPC_URL=wss://rpc.vara.network
NEXT_PUBLIC_VARA_ARCHIVE_URL=
NEXT_PUBLIC_INDEXER_GRAPHQL_URL=http://localhost:4350/graphql
NEXT_PUBLIC_VARA_AGENTS_PROGRAM_ID=0x19f27f4c906a5ac230be82d907850d44c7a7fff1b4c6903f62e78e09e0b353f3
