NEXT_PUBLIC_VARA_NETWORK=mainnet
NEXT_PUBLIC_VARA_RPC_URL=wss://rpc.vara.network
NEXT_PUBLIC_VARA_ARCHIVE_URL=
NEXT_PUBLIC_INDEXER_GRAPHQL_URL=http://localhost:4350/graphql
NEXT_PUBLIC_VARA_AGENTS_PROGRAM_ID=0xfc81d96a92dd5caddaf215beef6765608978753c8bbfa8bad8633c83130906b6
