NEXT_PUBLIC_VARA_NETWORK=mainnet
NEXT_PUBLIC_VARA_RPC_URL=wss://rpc.vara.network
NEXT_PUBLIC_VARA_ARCHIVE_URL=
NEXT_PUBLIC_INDEXER_GRAPHQL_URL=http://localhost:4350/graphql
NEXT_PUBLIC_VARA_AGENTS_PROGRAM_ID=0x99a8f878745e785ee6af4a59a8f1912e67e19259a35c71e6bf55861a1348251e
